# MongoDB CRUD Operations

Go over how to use the CRUD operation of our MongoDB instance within our Python code using the pymongo module.

### Import MongoClient instance from pymongo module

In [1]:
from pymongo import MongoClient

### Initalize A Client To Connect To MongoDB

In [3]:
my_client = MongoClient("localhost" , 27017)

In [4]:
my_client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### Connect to specific Database

In [5]:
my_client.list_database_names()

['admin', 'config', 'local', 'my_store', 'test']

In [6]:
db = my_client.test

In [7]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

### Access a specific collection within the database

In [8]:
print(db.list_collection_names())

['my_test_collection']

In [10]:
users_col = db.my_test_collection

users_col

### C - Create
Go over how to create new entries in your Mongo Database

In [11]:
users_col.insert_one({"name": "Aneesh", "age":26})

InsertOneResult(ObjectId('6689812a6df83c3590f96f5d'), acknowledged=True)

### R - Read
Go over how to read in entries that are in your Mongo Database

In [12]:
users_col.find_one({"name": "Aneesh"})

{'_id': ObjectId('6689812a6df83c3590f96f5d'), 'name': 'Aneesh', 'age': 26}

### U - Update
Go over how to update existing entries that are in your Mongo Database

In [14]:
users_col.update_one({"name": "Aneesh"},{"$set":{"name": "Sunitha" , "age":53}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

### D - Delete
Go over how to delete entries that are in your Mongo Database

In [15]:
users_col.delete_one({"name":"Sunitha"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)